// Materialize
@import "~materialize-css/dist/css/materialize.css";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #619ea3 !important;
}

.page-footer {
    background-color: #619ea3 !important;
}